{
	"env": {
		"browser": false,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 7
	},
	"globals": {
		"Zotero",
		"Z",
		"ZU",
		"DOMParser",
		"XPathResult"
	},
	"rules": {
		"semi": ["warn", "always"],
		"indent": ["warn", "tab"],
		"linebreak-style": ["error", "unix"],
		"no-multi-str": "warn",
		"no-shadow": "off",
		"no-undef": "warn",
		"zotero-translator/not-executable": ["error"],
		"zotero-translator/header-valid-json": ["error"],
		"zotero-translator/translator-id": ["error"],
		"zotero-translator/last-updated": ["error"],

		"zotero-translator/no-for-each": ["warn"],
		"zotero-translator/prefer-index-of": ["warn"],

		"notice/notice": [ "warn", {
			"mustMatch": "GNU Affero General Public License",
			"messages": {
				"whenFailedToMatch": "Must be AGPL licensed"
			}
		 }]
	},
	"plugins": [
		"zotero-translator",
		"notice"
	]
}
